[project]
	description = Storage Performance Development Kit - http://spdk.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Danielle Costantino (costad2)
[access "refs/for/refs/*"]
	read = group user/Danielle Costantino (costad2)
	push = group user/Danielle Costantino (costad2)
	label-Code-Review = -2..+2 group user/Danielle Costantino (costad2)
	label-Verified = -1..+1 group user/Danielle Costantino (costad2)
	rebase = group user/Danielle Costantino (costad2)
	removeReviewer = group user/Danielle Costantino (costad2)
	submit = group user/Danielle Costantino (costad2)
[access "refs/heads/*"]
	read = group user/Danielle Costantino (costad2)
	create = group user/Danielle Costantino (costad2)
	push = +force group user/Danielle Costantino (costad2)
	pushMerge = group user/Danielle Costantino (costad2)
[access "refs/tags/*"]
	push = group user/Danielle Costantino (costad2)
	push = +force group user/Danielle Costantino (costad2)
